<% for(res of res){ %>
    <li><a href="<%= baseurl() %>request/detail/<%= res.id_request %>" style="display: contents;"><b><%= res.name_employee %></b> Assign you project <b><%= res.subj_req %></b></a></li>
<% } %>